[Service] 
Restart=unless-stopped 
[Container] 
ContainerName=redcapp1 
Image=localhost/redcapp1:01
Network=redcap
Label="io.containers.autoupdate=registry" 
Environment=TZ=Pacific/Auckland 
Environment=VERSION=docker 
Volume=systemd-redcapp1-http:/etc/httpd:U,Z
Volume=systemd-redcapp1-redcap:/var/www/html:U,Z 
Volume=systemd-redcapp1-ssl:/etc/pki/tls/certs/:U,Z 
Volume=systemd-redcapp1-postfix:/etc/postfix:U,Z 
Volume=systemd-redcapp1-logs:/var/log:U,Z 
Volume=systemd-redcapp1-home:/home:U,Z 
PublishPort=8080:80/tcp 
PublishPort=8081:443/tcp 
[Install] 
WantedBy=default.target
